

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>  <!--for icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--for icons-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">






</head>
<body>
    <section>
     <div class="icon-bar">
        
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <h1>HOME DECOR</h1>
      </div>
    </section>  



   <section>
     <div class="topnav">
        <img src="{% static 'images\logo11.png' %} " alt="">
        <a class="active" href="{% url 'exam:home' %}"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="{% url 'exam:login' %}"><i class="glyphicon glyphicon-user"></i></a>
        <a href="{% url 'exam:cart' %}"><i class="fa fa-shopping-cart" style='font-size:24px'></i></a>
        <a href="{% url 'exam:about' %}">About</a>
        <a href="{% url 'exam:shop' %}">Shop</a>
        <input type="text" placeholder="search..">
     </div>
   </section>



 



   <!-- <section  class="container">
    <div >
        <h1 align="center"><u>Furniture Essentials For Your Home</u></h1><br>
        <div class="d-flex flex-row mb-3">
            <div class="card p-2" style="width: 18rem;">
                <img src="{% static 'images/c1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BookShelves</h5>
                 
                  <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
              </div>
       
   
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/c3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bean Bags</h5>
          
          <a href="#" class="btn btn-primary">BUY NOW</a>
        </div>
      </div>

<div class="card" style="width: 18rem;">
    <img src="{% static 'images/c4.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Center Tables</h5>
    
      <a href="#" class="btn btn-primary">BUY NOW</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static 'images/reg1.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Center Tables</h5>
    
      <a href="#" class="btn btn-primary">BUY NOW</a>
    </div>
  </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'images/reg.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">cart</h5>
            
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>

          

</div>
</section><hr> -->


<table>
  <tr>
      <td>
          <div class="w3-container">
            
              <div class="w3-card-4" style="width:60%">
            
                <div class="w3-container w3-center">
                  <img src="{% static 'images\reg6.png' %}" alt="Avatar" style="width:80%">
                  <h5>Turkish Boat Table Decor in Multicolour</h5>
            
                  <div class="w3-section">
                    <button class="w3-button w3-green">Buy</button>
                    
                  </div>
                </div>
            
              </div>
            </div>
      </td>
      <td>
          <div class="w3-container">
            
              <div class="w3-card-4" style="width:60%">
            
                <div class="w3-container w3-center">
                  <img src="{% static 'images\reg1.png' %}" alt="Avatar" style="width:80%">
                  <h5>Vermount New Solidwood End Table With Rack</h5>
            
                  <div class="w3-section">
                    <button class="w3-button w3-green">Buy</button>
                    
                  </div>
                </div>
            
              </div>
            </div>
      </td>
      <td>
          <div class="w3-container">
            
              <div class="w3-card-4" style="width:60%">
            
                <div class="w3-container w3-center">
                  <img src="{% static 'images\reg2.png' %}" alt="Avatar" style="width:80%">
                  <h5>BED</h5>
            
                  <div class="w3-section">
                    <button class="w3-button w3-green">Buy</button>
                  </div>
                </div>
            
              </div>
            </div>
      </td>
  </tr>
  </table>




<section>
  <div align="center">
      <div>
     <span style="color: palevioletred; font-style: italic; font-size: 15px;">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odio, optio voluptas quae molestias
               rerum dolorem quis animi! Doloribus ex tenetur nam odit ut, error officiis cumque omnis unde voluptatem.
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odio, optio voluptas quae molestias
               rerum dolorem quis animi! Doloribus ex tenetur nam odit ut, error officiis cumque omnis unde voluptatem.

     </span> <br><br>
          <h1>Join with us:</h1>
      </div>
      <a href="#"><img id="img3" src="{% static 'images/insta.png' %}" alt="" width="40px" height="40px"></a>
      <a href="#"><img id="img3" src="{% static 'images/face.png' %}" alt="" width="40px" height="40px"></a>
      <a href="#"><img id="img3" src="{% static 'images/utube.png' %}" alt="" width="40px" height="40px"></a>
      <a href="#"><img id="img3" src="{% static 'images/wtsapp.png' %}" alt="" width="40px" height="40px"></a>

  </div>
</section>
    
</body>
</html>