{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>  <!--for icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--for icons-->

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> <!--Get your code at fontawesome.com-->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!--card using-->






</head>
<body>
    <section>
     <div class="icon-bar">
        
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <h1>HOME DECOR</h1>
      </div>
    </section>  



   <section>
     <div class="topnav">
        <img src="{% static 'images\logo11.png' %} " alt="">
        <a class="active" href="{% url 'exam:home' %}"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="{% url 'exam:login' %}"><i class="glyphicon glyphicon-user"></i></a>
        <a href="{% url 'exam:cart' %}"><i class="fa fa-shopping-cart" style='font-size:24px'></i></a>
        <a href="{% url 'exam:about' %}">About</a>
        <a href="{% url 'exam:shop' %}">Shop</a>
        <input type="text" placeholder="search..">
     </div>
   </section>


<section>
    <div class="div1">
        <div class="div2">

                 <p>Explore Our Furniture Range</p> 
                 <img src="{% static 'images\shop1.png' %}" alt="" width="95%">     
        </div>
    </div>
   </section><hr><hr>




   <!-- <div id="flex-container">
    <div><img src="{% static 'images\reg1.png' %}" alt="" width="50px" height="50px"><br><button>BUY</button>Cart</div>
    <div><img src="{% static 'images\reg1.png' %}" alt="" width="50px" height="50px"><br><button>BUY</button>Cart</div></div>
    <div>3</div> 
    <div>4</div>
  </div> -->

<table>
    <tr>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg.png' %}" alt="Avatar" style="width:80%">
                    <h5>Kabali Elephant</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg1.png' %}" alt="Avatar" style="width:80%">
                    <h5>Center table</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg2.png' %}" alt="Avatar" style="width:80%">
                    <h5>Bed</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg4.png' %}" alt="Avatar" style="width:80%">
                    <h5>Table with Chair</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg.png' %}" alt="Avatar" style="width:80%">
                    <h5>Kabali Elephant</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg6.png' %}" alt="Avatar" style="width:80%">
                    <h5>Turkish Boat Table Decor in Multicolour</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg7.png' %}" alt="Avatar" style="width:80%">
                    <h5>xxxxx</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg8.png' %}" alt="Avatar" style="width:80%">
                    <h5>xxxxx</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg3.png' %}" alt="Avatar" style="width:80%">
                    <h5>xxxxx</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
           
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg10.png' %}" alt="Avatar" style="width:80%">
                    <h5> Raindeer Candle Holder</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg11.png' %}" alt="Avatar" style="width:80%">
                    <h5> Jelina Leaf Table Decor</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg12.png' %}" alt="Avatar" style="width:80%">
                    <h5> Beatrice Solidwood Queen Bed Box Storage Honey</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg13.png' %}" alt="Avatar" style="width:80%">
                    <h5>Solidwood Bed Box Storage Honey</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg14.png' %}" alt="Avatar" style="width:80%">
                    <h5> Beatrice Solidwood  Bed</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
        <td>
            <div class="w3-container">
              
                <div class="w3-card-4" style="width:60%">
              
                  <div class="w3-container w3-center">
                    <img src="{% static 'images\reg15.png' %}" alt="Avatar" style="width:80%">
                    <h5> Carden Accent Chair In Green Colourpython</h5>
              
                    <div class="w3-section">
                      <button class="w3-button w3-green">Buy</button>
                      <button class="w3-button w3-blue">Cart</button>
                    </div>
                  </div>
              
                </div>
              </div>
        </td>
    </tr>
</table>
  





   
   
   
   
   
















   
   
   
   
   <hr>
<br><br><br>


<section>
    <div align="center">
        <div>
       <span style="color: palevioletred; font-style: italic; font-size: 15px;">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odio, optio voluptas quae molestias
                 rerum dolorem quis animi! Doloribus ex tenetur nam odit ut, error officiis cumque omnis unde voluptatem.
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odio, optio voluptas quae molestias
                 rerum dolorem quis animi! Doloribus ex tenetur nam odit ut, error officiis cumque omnis unde voluptatem.

       </span> <br><br>
            <h1>Join with us:</h1>
        </div>
        <a href="#"><img id="img3" src="{% static 'images/insta.png' %}" alt="" width="40px" height="40px"></a>
        <a href="#"><img id="img3" src="{% static 'images/face.png' %}" alt="" width="40px" height="40px"></a>
        <a href="#"><img id="img3" src="{% static 'images/utube.png' %}" alt="" width="40px" height="40px"></a>
        <a href="#"><img id="img3" src="{% static 'images/wtsapp.png' %}" alt="" width="40px" height="40px"></a>

    </div>
</section>
















 
       
   
    
</body>
</html>