

.from1{
width: 1000px;  
height: 500px;  
margin-left: 100px;
/* background-color:azure; */
/* border: 3px black solid;   */
border-radius: 5px;  
padding: 25px; 
margin-top: 30px; 
background-image:  url('../images/reg5.png');;
}


.container{
    margin-top: 100px;
    
}
#div1
{
    margin-left: 300px;
    font-size:x-large;
}

#btn5{
    margin-left: 100px;
    border: none;
   font-size: 40px;
}
#btn5:hover {
    background-color:lightseagreen;
    color: white;
}